// out: ../css/layout.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

$background-color: #F8FAFF;

$font-color-light: #8994c6;
$font-color-darker: #3E396B;
$font-color-red: #ff5281;
body{
    background-color: $background-color;    
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight:300;
}
/* GENERAL STYLE ( GRADIENTS/COLORS ) */
.gradientBlue {
    background: linear-gradient(to right, red , yellow);
  }
  .gradientGreen {
    background: linear-gradient(to right, #53E3AD , #37CFD4);
  }
  
  .gradientRed {
    background: linear-gradient(to right, #ff5281 , #fe867d);
  }
  .red{
      color:$font-color-red;
  }

  .green{
      color:#53E3AD;
  }
  .light_dark_font{
      color:$font-color-light;
  }
/* top nav */
nav{
    background-color:$background-color;
    color:$font-color-darker;
}
nav ul a{
    color:$font-color-darker;
    font-weight: 300;

}
nav .brand-logo{
    color:$font-color-darker;
    
}

#top-nav, #top-nav .container  {
    height: 94px;
    box-shadow:none;
}
#top-nav .nav-wrapper .container ul, #top-nav .nav-wrapper .container ul li, #top-nav .nav-wrapper .container ul li a{
    height:100%;
 }
 #top-nav .nav-wrapper .container ul li #signupButtonNavBar span{
    border-radius:40px;
 }

// we want a vertical align of links :
#top-nav .nav-wrapper ul li a, #top-nav .nav-wrapper ul li #orElement,#top-nav .nav-wrapper a.brand-logo{
    padding:0px 36px;
    height:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fullHeight{
    height: 100vh;
}

#mainContainer{
    margin-top: -94px;
}
main{
    padding-top:30px;
}
.horizontalCenter .row{
    left:50%;
    width:100%;
}
.elevation0 {
    box-shadow:0 5px 15px 0 rgba(112,128,175,0.2)
   }
.elevation1 {
box-shadow:0 10px 40px 0 rgba(62,57,107,0.07),0 2px 9px 0 rgba(62,57,107,0.06);
}
.elevation2 {
box-shadow:0 16px 32px 0 rgba(62,57,107,0.2);
}

/* Section by section */
#firstSection {
    background:$background-color;
}
#firstSection h1 {
    color:$font-color-light;
    font-weight:200;
    font-size:24px;
    line-height: 40px;
}

/* Cards */
.card{
    padding:20px;
    border-radius:5px;
}
.hoverable_card:hover{
    box-shadow:0 16px 32px 0 rgba(62,57,107,0.2);
   
}
.card-icon img{
width: 100px;
height: 100px;
max-width: 150px;
border:5px solid #fff;
margin-top:10px;
box-shadow: -1px 2px 5px 1px rgba(207, 207, 207, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}

.card_title{
    font-weight: 500;
    color:#000;
    font-size:20px;
}
.card_comment{
    color:$font-color-light;
    font-weight:200;
}
.btn-hollow{
    padding:3px;
    border-radius:40px;
}
.card_button .btn-hollow .textButton{
    padding:10px;
    border-radius:40px;
    background-color:#fff;
 
}

.card_button .btn-hollow .textButton:hover{
    background:none;
    color:#fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    line-height: 1.3;
}



.btn-hollow input[type="submit"]{
    cursor: pointer;
    padding:10px;
    border-radius:40px;
    background-color:#fff;
    cursor: pointer;
    font-weight: 500;
}
.btn-hollow input[type="submit"]:hover{
    background:none;
    color:#fff;
    cursor: pointer;
}

.btn-round{
    color:#fff;
    padding:10px;
    border-radius:40px;
    font-weight: 500;
}


.btn-round-input{
    color:#fff;
 
    border-radius:40px;
    font-weight: 500;
}
.btn-round-input input[type="submit"]{
    padding:10px;
    color:#fff;
    cursor: pointer;
}
.btn-round-input input[type="submit"]:hover{
    color:#fff;
    cursor: pointer;
}



	/* input img */
	.imgInp{
		display:none;
	}
	.label-file {
		cursor: pointer;
		color: #00b1ca;
		font-weight: bold;
		display: inline-block;
		margin: 0 auto;
		position: relative;
		width: 50%;
	}
	.label-file:hover {
		color: #25a5c4;
	}

	/* et on masque le input */
	.imgInp {
		display: none;
	}



	.label-file img{
		opacity: 1;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	}

	.label-file .middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%)
	}


	.label-file:hover img {
		opacity: 0.3;
	}

	.label-file:hover .middle {
		opacity: 1;
	}
	.label-file .middle .text i {
		font-size:44px;
		color:#fff;
		
		margin:0 auto;
	}
	.label-file .middle:hover .text i {
		font-size:44px;
		color:#333333;
		margin-left:-180px;
	}
	.label-file .middle .text i {
		font-size:44px;
		color:#333333;
		margin-left:-180px
	}
