// out: ../css/layout.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

$background-color: #213262;

body{
    background-color: $background-color;    
    font-family: 'Merriweather Sans', sans-serif;
}

#top-nav {
    height: 94px;
    box-shadow:none;
}
#top-nav .nav-wrapper ul, #top-nav .nav-wrapper ul li, #top-nav .nav-wrapper ul li a{
    height:100%;
 }

// we want a vertical align of links :
#top-nav .nav-wrapper ul li a,#top-nav .nav-wrapper a.brand-logo{
    padding:0px 36px;
    height:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fullHeight{
    height: 100vh;
}

#mainContainer{
    margin-top: -94px;
}
.horizontalCenter .row{
    left:50%;
    width:100%;
}

