{% extends "OFCoreBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="card elevation1">
            <a href="{{path('of_contracts_new_contract')}}">Créer un nouveau contract</a>
            
        </div>
    </div>



{% endblock %}