body {
  background-color: #F8FAFF;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* GENERAL STYLE ( GRADIENTS/COLORS ) */
.gradientBlue {
  background: linear-gradient(to right, red, yellow);
}

.gradientGreen {
  background: linear-gradient(to right, #53E3AD, #37CFD4);
}

.gradientRed {
  background: linear-gradient(to right, #ff5281, #fe867d);
}

.red {
  color: #ff5281;
}

.green {
  color: #53E3AD;
}

.light_dark_font {
  color: #8994c6;
}

/* top nav */
nav .nav-white {
  background: none;
  color: #f6f9fc;
  position: absolute;
}

nav .nav-white ul a {
  color: #f6f9fc;
  font-weight: 300;
}

nav .nav-white .brand-logo {
  color: #fff;
}

nav {
  background: none;
  color: #373b52;
  position: absolute;
}

nav ul a {
  color: #373b52;
  font-weight: 300;
}

nav .brand-logo {
  color: #373b52;
}

#top-nav, #top-nav .container {
  height: 94px;
  box-shadow: none;
}

#top-nav .nav-wrapper .container ul, #top-nav .nav-wrapper .container ul li, #top-nav .nav-wrapper .container ul li a {
  height: 100%;
}

#top-nav .nav-wrapper .container ul li #signupButtonNavBar span {
  border-radius: 40px;
}

#top-nav .nav-wrapper ul li a, #top-nav .nav-wrapper ul li #orElement, #top-nav .nav-wrapper a.brand-logo {
  padding: 0px 36px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fullHeight {
  height: 100vh;
}

main #firstSection {
  padding-top: 0px;
  margin-top: -94px;
}

main {
  padding-top: 30px;
}

.horizontalCenter .row {
  left: 50%;
  width: 100%;
}

.elevation0 {
  box-shadow: 0 5px 15px 0 rgba(112, 128, 175, 0.2);
}

.elevation1 {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.elevation2 {
  box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.2);
}

/* Section by section */
#firstSection {
  background: #f6f9fc;
}

#firstSection h1 {
  color: #8994c6;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

p#textHeader {
  color: #d9fcff;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}

#stripes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

#stripes :first-child {
  width: 33.33333%;
  left: -16.66666%;
  background: #53f;
}

/* Cards */
.card {
  padding: 20px;
  border-radius: 5px;
}

.hoverable_card:hover {
  box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.2);
}

.card-icon img {
  width: 100px;
  height: 100px;
  max-width: 150px;
  border: 5px solid #fff;
  margin-top: 10px;
  box-shadow: -1px 2px 5px 1px rgba(207, 207, 207, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

.card_title {
  font-weight: 500;
  color: #000;
  font-size: 20px;
}

.card_comment {
  color: #8994c6;
  font-weight: 200;
}

.btn-hollow {
  padding: 3px;
  border-radius: 40px;
}

.card_button .btn-hollow .textButton {
  padding: 10px;
  border-radius: 40px;
  background-color: #fff;
}

.card_button .btn-hollow .textButton:hover {
  background: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  line-height: 1.3;
}

.card.dark {
  background: #373b52;
  color: #fff;
}

.card.dark .card_comment {
  color: #fff;
}

.card.dark .card_title {
  color: #fff;
}

.btn-hollow input[type="submit"] {
  cursor: pointer;
  padding: 10px;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.btn-hollow input[type="submit"]:hover {
  background: none;
  color: #fff;
  cursor: pointer;
}

.btn-round {
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  font-weight: 500;
}

.btn-round-input {
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
}

.btn-round-input input[type="submit"] {
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.btn-round-input input[type="submit"]:hover {
  color: #fff;
  cursor: pointer;
}

/* input img */
.imgInp {
  display: none;
}

.label-file {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 50%;
}

.label-file:hover {
  color: #25a5c4;
}

/* et on masque le input */
.imgInp {
  display: none;
}

.label-file img {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.label-file .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.label-file:hover img {
  opacity: 0.3;
}

.label-file:hover .middle {
  opacity: 1;
}

.label-file .middle .text i {
  font-size: 44px;
  color: #fff;
  margin: 0 auto;
}

.label-file .middle:hover .text i {
  font-size: 44px;
  color: #333333;
  margin-left: -180px;
}

.label-file .middle .text i {
  font-size: 44px;
  color: #333333;
  margin-left: -180px;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
  padding-left: 5px;
  border-bottom: 2px solid #dddddd;
  border: 1px solid #dddddd;
  border-top: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
  border: 1px solid #dddddd;
  border-right: 2px solid #f1f1f1;
}

.input-field > label:not(.label-icon).active {
  transform: translateY(-16px) scale(0.8);
}

.input-field > label:not(.label-icon) {
  padding-left: 5px;
}

.input-field .prefix {
  background-color: #f1f1f1;
  border: 3px;
  padding: 7px;
  margin-top: -7px;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-radius: 5px 0px 0px 5px;
}

.button_square {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .020em;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.button_square_filled {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #6772e5;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .020em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.button_square_pink {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #9251ac;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .020em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.button_square_filled:hover {
  filter: brightness(115%);
  -webkit-box-shadow: 0 5px 7px rgba(50, 50, 93, 0.11), 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 7px rgba(50, 50, 93, 0.11), 0 2px 4px rgba(0, 0, 0, 0.08);
}

#panelCollection {
  border: 0px;
}

#panelCollection h4 {
  border: 0px;
  font-weight: 400;
  letter-spacing: .020em;
}
/*# sourceMappingURL=layout.css.map */