<!DOCTYPE html>
<html>
    <head>
        <title>White Hat Coin</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{asset('css/materialize.css')}}">
        <link rel="stylesheet" href="{{asset('css/layout.css')}}">

    </head>

    <body >
    <div class="navbar-fixed  ">
            <nav id="top-nav">
                <div class="nav-wrapper">

                    <a href="#" class="brand-logo">LOGO</a>
                    <div class="container">
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li>
                                <a href="sass.html">
                                    Pricing
                                </a>
                            </li>
                            <li>
                                <a href="badges.html">
                                    Enterprise
                                </a>
                            </li>
                            <li>
                                <a href="collapsible.html">
                                    Experts
                                </a>
                            </li>
                        </ul>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li>
                                <a href="sass.html">
                                    Login
                                </a>
                            </li>
                            <li>
                                <span id="orElement">or</span>
                            </li>
                            <li>
                                <a id="signupButtonNavBar" href="collapsible.html">
                                    <span class=" btn-large waves-effect waves-light gradientGreen">Sign up</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        {% block body %}
        {% endblock %}
        </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
    <script src="{{asset('js/truffle-contract.js')}}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="{{asset('js/app.js')}}"></script>

</html>