<!DOCTYPE html>
<html>
<head>
  <title>White Hat Coin</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{{asset('css/materialize.css')}}">
  <link rel="stylesheet" href="{{asset('css/layout.css')}}">

          
</head>



<body >  
  <div class="navbar-fixed">
    <nav id="top-nav">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">LOGO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html"><b>SASS</b></a></li>
          <li><a href="badges.html"><b>COMPONENTS</b></a></li>
          <li><a href="collapsible.html"><b>ETH : <span id="creditsCount"></span></b></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container " id="mainContainer" >
    <section id="listWHCs" class="fullHeight white-text valign-wrapper horizontalCenter center-align">
      <div class="row">
        <div class="col s12">
          <h3>SELECT A GAME</h3>
        </div>
        <div class="col s12">
          <div class="row" id="listeInstances">
          </div>
        </div>
        <div class="col s12">   
          <div style="display:none" id="no_games_available">
            There are no game available. You can still create one.<br /><br />
          
          </div>
          <a onclick="App.createContract()" class="waves-effect waves-light btn-large"><i class="material-icons left">add_circle_outline</i>Create a game</a>
        </div>
       
      </div>
    </section>
    <section id="WHCPanel" class="fullHeight white-text valign-wrapper horizontalCenter center-align" style="display:none">
     
  <a class="btn-floating btn-large waves-effect waves-light" onclick="App.showListWHCs()" style="float:left; position:absolute;"><i class="material-icons">keyboard_arrow_left</i></a>
        
      <div class="row">
        <div class="col s6">
            <div class="center white-text"><br />
              <h5>Bank Account :</h5>
              <h3><span id="soldeContrat"></span></h3><br />
            </div>
        </div>
        <div class="col s6 pull-right">
          <div class=" center white-text"><br />
            <h5>Last Game Result :</h5>
            <h3><span id="resultatContrat"></span></h3><br />
          </div>
        </div>
          <div class="col s8 offset-s2">
            
              <div class="input-field col s12">
                  <input id="mise" type="text" class="pari">
                  <label for="mise"> Bet</label>
                </div>
                
            <div class="input-field col s12">
                <input id="nombre" type="text" class="pari">
                <label for="nombre"> Choisissez un nombre</label>
              </div>
                
            <a href="#" onclick="App.bet()" class="btn-large btn-primary center">Bet</a>
            </div>
        </div>
    </section>
 
    </div>
  </div>
</body>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="{{asset('js/truffle-contract.js')}}"></script>
  <!-- Compiled and minified JavaScript --><script src="{{asset('js/app.js')}}"></script>

</html>